:root {
  --primary-color: #ff4d4f;
  --bg-admin: #f4f7f6;
}
*{
  font-family: "Roboto";
}
.admin-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.admin-main-content {
  display: flex;
  flex: 1; /* Tự động dãn độ cao xuống hết màn hình */
  width: 100%;
}

/* Khi không phải trang login, content sẽ dãn rộng ra */
.page-container {
  flex-grow: 1; /* ĐÂY LÀ DÒNG GIÚP HẾT MẢNG TRẮNG BÊN PHẢI */
  background-color: var(--bg-admin);
  padding: 20px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* Khi là trang login, form sẽ nằm giữa màn hình */
.auth-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

/* Reset một số CSS mặc định */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}